@import url('../App.css');

.sales-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--gray-light);
  min-height: 100vh;
}

.sales-metrics-section {
  display: flex;
  justify-content: center;
}

.sales-form-section {
  display: flex;
  justify-content: center;
}
